@{
    ViewBag.Title = "Contact";
}
<br />


<a href="mailto://singsuyash@outlook.com"><img src="../../Content/Images/email.png" alt="email" style="height:50px;width:50px;"/></a> <a href="https://twitter.com/singsuyash"><img src="../../Content/Images/twitter.gif" alt="twitter" style="height:50px;width:50px;" /></a> <a href="https://www.facebook.com/singsuyash"><img src="../../Content/Images/facebook.png" alt="facebook" style="height:50px;width:50px;" /></a>